[Unit]
Requires=systemd-networkd.service
After=luksd.service

[Service]
EnvironmentFile=/boot/config/locky.env
ExecStart=/sbin/locky '${PUBKEY}'
Restart=on-failure
User=locky

[Install]
WantedBy=multi-user.target
