[Unit]
Requires=luksd.service

[Service]
EnvironmentFile=/boot/config/locky.env
ExecStart=/sbin/luksd-hook
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
